.DS_Store
.project
.settings
.buildpath

composer.lock
vendor/*
!vendor/.gitkeep
!vendor/MvtkService

uploads/*
!uploads/.gitkeep

data/*
!data/.gitkeep

logs/*
!logs/.gitkeep

tests/_log/*
!tests/_log/.gitkeep
